{$API_DOMAIN} {
  encode zstd gzip

  handle /webhook* {
    reverse_proxy api:3001
  }

  handle /api* {
    reverse_proxy api:3001
  }

  handle /privacy* {
    reverse_proxy api:3001
  }

  handle /data-deletion* {
    reverse_proxy api:3001
  }

  handle /health* {
    reverse_proxy api:3001
  }

  respond "not found" 404
}

{$PANEL_DOMAIN} {
  encode zstd gzip
  reverse_proxy panel:8080
}
